.grid {
  display: grid;
}

.brown {
  height: 500px;
  width: 100%;
  background-color: #66452b;
  position: absolute;
  z-index: 0;
}

.purple {
  height: 250px;
  width: 100%;
  margin-left: -700px;
  background-color: #9016bc;
  transform: rotate(-45deg);
  position: absolute;
  z-index: 10;
}

.purple-shadow {
  height: 20px;
  width: 100%;
  margin-left: -415px;
  background-color: #5e117a;
  transform: rotate(-45deg);
  position: relative;
  z-index: 9;
}

.red {
  height: 25px;
  margin-left: -405px;
  width: 100%;
  background-color: #ff240c;
  transform: rotate(-45deg);
  position: relative;
  z-index: 8;
}

.red-shadow {
  height: 25px;
  margin-left: -405px;
  width: 100%;
  background-color: #750f04;
  transform: rotate(-45deg);
  position: relative;
  z-index: 7;
}

.gray {
  margin-top: -200px;
  height: 500px;
  width: 100%;
  background-color: gray;
}
