@keyframes slideup {
  0% {
    margin-top: 100%;
    width: 100%;
    }
  98% {
    margin-top: 150px;
    width: 100%;
    }
  100% {
    margin-top: 160px;
    width: 100%;
  }
}

.grid {
  display: grid;
}

body {
  height: 100%;
  width: 100%;
  background-color: skyblue;
}

.purple {
  height: 254px;
  width: 100%;
  margin-left: -700px;
  background-color: #9016bc;
  transform: rotate(-45deg);
  position: absolute;
  z-index: 10;
}

.purple-shadow {
  height: 20px;
  width: 100%;
  margin-left: -410px;
  background-color: #77149b;
  transform: rotate(-45deg);
  position: relative;
  z-index: 9;
}

.red {
  height: 25px;
  margin-left: -405px;
  width: 100%;
  background-color: #ff240c;
  transform: rotate(-45deg);
  position: relative;
  z-index: 7;
}

.red-shadow {
  height: 25px;
  margin-left: -425px;
  width: 100%;
  background-color: #ba1503;
  transform: rotate(-45deg);
  position: relative;
  z-index: 6;
}

.gray {
  margin-top: 160px;
  height: 500px;
  width: 100%;
  background-color: #5e5e5e;
  position: absolute;
  z-index: 7;
  animation-duration: 1.5s;
  animation-name: slideup;
}
