.grid {
  display: grid;
}

.brown {
  height: 500px;
  width: 100%;
  background-color: #66452b;
}

.purple {
  height: 10px;
  width: 100%;
  margin-top: 245px;
  background-color: #9016bc
}

.red {
  height: 10px;
  width: 100%;
  margin-top: 265px;
  background-color: #ff240c;
}
